.profile-nav-dot {
    background-color: #f1f2f7;
    border-color: #e2e1e1;
    height: 38px;
    width: 38px;
    /* margin-left: 15px; */
    border-radius: 50%;
}

.hand-hover {
    cursor: pointer;
}

.nav-dot {
    background: #f77b11;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline-block;
}

.font-15 {
    font-size: 15px;
}

.font-30 {
    font-size: 30px;
}

.showCursor {
    cursor: pointer !important;
}

.rightSidenav_toggle {
    // width: 300px;
    // height: 50px;
    background: #f77b11;
}

.menu-icon-css {
    // background: #009688;
    padding: 2px 6px 2px 6px;
    border-radius: 3px;
}

.white-color {
    color: white;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.search-icon-css {
    background-color: #f1f2f7;
    border-color: #e2e1e1;
    border-radius: 50%;
}

.m--2 {
    margin: -2px;
}